<!DOCTYPE html>
<html>
  <head>
    <title>Tokimons</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


<div class="background">
  <div class="main">
    <img src="/tokemon1.png" id="icon1" height="180px" />
  <body>
    <div background-color="#CCCCCC" height="10">
      <body  align="center">
    <%= link_to "Home", root_path, class:"nav" =%>
    <%= link_to "Trainers",trainers_path, class:"nav"=%>
    <%= link_to "Tokimons", tokimons_path,class:"nav" =%>
      </body>
    </div>
    <%= yield %>
  </body>
  </div>
</div>
</html>
