<!DOCTYPE html>
<html>
  <head>
    <title>Tokimons</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


<div class="background">
  <div class="main">
    <img src="public/tokemon1.png" id="icon1" />
  <body>
    <%= link_to "Home", root_path, class:"nav" =%>
    <%= link_to "Trainers",trainers_path, class:"nav"=%>
    <%= link_to "Tokimons", tokimons_path,class:"nav" =%>
    <%= yield %>
  </body>
  </div class="main">
</div>
</html>
